body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}





a {
    text-decoration: none;
}

/* h3 {
    color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
} */

.wrapper-div {
    background: #FFF;
    display: flex;
    flex-direction: row-reverse;
}


.main-container {
    padding-left: 88px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* My info */

.my-info-div {
    margin-bottom: 40px;
}

.my-info-title {
    color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        margin-top: 0;
        margin-bottom: 8px;
}

.main-title {
    color: #000;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
        margin-top: 0;
        margin-bottom: 12px;
}

.my-info-text {
    color: #595959;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: 0;
}

/* My projects */

.projects-div {
    margin-bottom: 40px;
}

.projects-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.projects-list {
 padding-left: 18px;
}

.projects-list-item {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}


.projects-link {
    color: #005FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.span-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.projects-link:hover,
.projects-link:focus {
    color:purple;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Languages styles */

.lang-div {
    margin-bottom: 40px;
}

.lang-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
}

.lang-list {
    padding-left: 18px;
}

.lang-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* Work Experience */

.work-div {
    margin-bottom: 40px;
}

.work-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.second-work-title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;
}



/* Sidebar styles */

.sidebar {
    background: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    box-sizing: border-box;
}

/* Contacts styles */

.contacts-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.span-contact {
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-div {
    margin-bottom: 40px;
}

.contacts-text {
    margin-top: 0;
    margin-bottom: 4px;
}

/* Tech Skills */

.tech-div {
    margin-bottom: 40px;
}

.tech-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.tech-list {
    padding-left: 18px;
}

.tech-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* .tech-list-item::marker {
    color: #0000ee;
} */

/* Soft Skills */

.soft-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.soft-list {
    padding-left: 18px;
}

.soft-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.sidebar-link:hover,
.sidebar-link:focus {
color: purple;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inst-link {
    color: #0000ee;
}














.icon-svg-team {
    fill: f4f4fd;
    stroke: f4f4fd;
}

.icon-svg-team {
background-color: orangered;
    border-radius: 50%;
    border: white; 
}

.icon-svg-team:hover,
.icon-svg-team:focus {
    background-color: purple;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}