a {
    text-decoration: none;
}

.icon-svg-team {
    fill: f4f4fd;
    stroke: f4f4fd;
}

.icon-svg-team {
background-color: orange;
    border-radius: 50%;
  align-items: center;
    border: white;
}

.icon-svg-team:hover,
.icon-svg-team:focus {
    background-color: #404bbf;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}